.reasons {
  list-style: none;
}

footer {
  background-color: #304268;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 128px;
  padding-bottom: 30px;
}

span {
  color: #f26002;
}

.reasons-to-purchase {
  background-color: #eff9ff;
}

.scroll-button {
  background-color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}

.button-shadow {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.footer-button {
  position: relative;
  bottom: 20px;
}

.button-consistent {
  background-color: #ffffff;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid #f26002;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-opposite {
  background-color: #f26002;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.hero {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.font-hero-title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  margin-top: 284px;
}

.font-hero-sumary {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.font-section-category {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #8ccbea;
  text-transform: capitalize;
}

.font-section-title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: capitalize;
}

.font-section-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4a4a4a;
}

.font-section-reasons-title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
}

.font-section-reasons-subtitle {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.font-section-reasons-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.font-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  color: #f26002;
}

.font-button-opposite {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}

.font-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.description-section {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 45px;
}

body {
  background-color: #ffffff;
}

body,html {
  height: 100%;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .button-consistent {
    width: 91px;
  }

  .button-opposite {
    width: 210px;
  }

  .font-hero-title {
    font-size: 80px;
    line-height: 106px;
    margin-top: 384px;
  }

  .font-hero-sumary {
    font-size: 24px;
  }

  .font-section-title {
    font-size: 26px;
    line-height: 45px;
  }

  .font-section-description {
    font-size: 20px;
  }

  .font-section-reasons-title {
    font-size: 26px;
    line-height: 45px;
  }

  .font-section-reasons-subtitle {
    font-size: 24px;
  }

  .font-section-reasons-description {
    font-size: 20px;
  }

  .description-section {
    margin-left: 39px;
    margin-right: 39px;
    margin-bottom: 60px;
  }
}

@media all and (min-width: 1024px) {
  .button-consistent {
    width: 160px;
  }

  .button-opposite {
    width: 255px;
  }

  .font-hero-title {
    font-size: 42px;
    line-height: 132px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }

  .font-section-category {
    font-size: 16px;
  }

  .font-section-title {
    font-size: 32px;
  }

  .font-section-reasons-title {
    font-size: 32px;
  }

  .description-section {
    margin-left: 275px;
    margin-right: 275px;
    margin-top: 60px;
  }
}

/*# sourceMappingURL=main.css.map */
