@import "core/funciones";
@import "core/variables";
@import "core/mixins";
@import "core/settings";
@import "core/helpers";

@import "layout/header";
@import "layout/footer";
@import "layout/grid";
@import "layout/reasons";

@import "components/buttons";
@import "components/hero";
@import "components/typography";
@import "components/forms";

@import "pages/home";


body {
background-color: $color-midTone-light;
}
body, html{
height: 100%;
margin: 0;
}


*{
box-sizing: border-box;
}
