// COLORES
$color-primary: #f26002;
$color-light:rgba(255, 255, 255, 0.5);
$color-midTone-light: #ffffff;
$color-midTone-dark: #4a4a4a;
$color-dark: #000000;
$color-secondary-light: #8ccbea;
$color-secondary-dark: #0271bc;
$color-tertiary-light: #eff9ff;
$color-tertiary-dark: #304268;

//----FUENTES
// FAMILIA
$font-family-title: 'Roboto Slab', serif;
$font-family-description:'Roboto', sans-serif;

// GROSORES
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// TAMAÑOS
// Generales:
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-m: 20px;
$font-size-l: 24px;
$font-size-xl: 26px;
$font-size-xxl: 32px;

// Especiales:
$font-size-hero-s: 42px;
$font-size-hero-m: 80px;
$font-size-hero-l: 100px;


// INTERLINEADOS
// Generales:
$line-height-medium: 30px;
$line-height-large: 45px;

// Especiales
$line-height-hero-small: 55px;
$line-height-hero-medium: 106px;
$line-height-hero-large: 132px;

// MÁRGENES
$size-none: 0px;
$size-xs: 15px;
$size-s: 30px;
$size-m: 39px;
$size-l: 45px;
$size-xl: 60px;
$size-xxl: 275px;
$size-top-hero: 284px;
$size-top-hero-l: 384px;
$size-bottom-hero-mobile: 53px;
$size-bottom-hero-desktop: 13px;
$size-special:85px;
$size-special-s: 20px;
