.description-section{
  margin:0;
  padding-left: $size-xs;
  padding-right: $size-xs;
  padding-top: $size-s;
  padding-bottom: $size-l;
  @media all and (min-width: 768px){
    padding-left: $size-m;
    padding-right: $size-m;
    padding-bottom: $size-xl;
  }
  @media all and (min-width: 1024px){
    padding-left: $size-xxl;
    padding-right: $size-xxl;
    padding-top: $size-xl;
  }
}
