footer {
background-color: $color-tertiary-dark;
// display: flex;
// flex-direction: column;
align-items: center;
width: 100%;
height:128px;
padding-bottom: $margin-s;
// margin: auto;
}
// #end{
// position: relative;
// }




span {
color:$color-primary;
}
