.reasons-grid {
  padding-top: $margin-l;
  padding-bottom: $margin-xl;
  @media all and (min-width:768px) {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: $margin-l $margin-s;
  }
}
