.reasons-grid {
  padding-top: $size-l;
  padding-bottom: $size-xl;
  @media all and (min-width:768px) {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: $size-l $size-s;
  }
}
