.reasons-to-purchase {
background-color: $color-tertiary-light;
padding-top: $size-s;
padding-bottom: $size-xl;
padding-left: $size-xs;
padding-right: $size-xs;

@media all and (min-width: 768px){
 padding-left: $size-m;
 padding-right: $size-m;
}
@media all and (min-width: 1024px){
 padding-top: $size-xl;
 padding-left:$size-special;
 padding-right: $size-special;
}
}
