.reasons-to-purchase {
background-color: $color-tertiary-light;
padding-top: $margin-s;
padding-bottom: $margin-xl;
padding-left: $margin-xs;
padding-right: $margin-xs;

@media all and (min-width: 768px){
 padding-left: $margin-m;
 padding-right: $margin-m;
}
@media all and (min-width: 1024px){
 padding-top: $margin-xl;
 padding-left:$margin-special;
 padding-right: $margin-special;
}
}
