.burguer-display{
background-color: $color-light;
z-index: 1;
}

.menu{
display:inline-flex;
}

.burguer{
width:276px;
height:667px;
background-color: $color-midTone-light;
opacity: 0.96;
list-style: none;
margin: $margin-none;
padding: 0;
justify-content: flex-start;
}

.burguer-option {
border-bottom: 1px solid $color-secondary-light;
height:45px;
width:276px;
}
.burguer-option-0{
border-bottom: 1px solid $color-secondary-light;
height:44px;
width:276px;

}
