.burguer-display{
  background-color:rgba($color-dark, 0);
  z-index: 1;
  transition: background-color ease-in-out 1.5s;
}

.menu-trigger{
  display:inline-flex;
  position: absolute;
  height: 100%;
  width: 320px;
  left: -400px;
  top: 0;
  transition: left ease 1.5s;
  .page--menu-visible & {
    left: 0;
    z-index: 2;
      }
}

.burguer{
  width:276px;
  height:100%;
  background-color: $color-midTone-light;
  list-style: none;
  margin: $size-none;
  padding: 0;
  justify-content: flex-start;
  left:0;
}

.burguer-option {
  border-bottom: 1px solid $color-secondary-light;
  height:45px;
  width:276px;
  padding-left: $size-xs;
}

.burguer-option-0{
  border-bottom: 1px solid $color-secondary-light;
  height:44px;
  width:276px;
  padding-left: $size-xs;
}

.page--menu-visible {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba($color-dark, 0.5);

}
