.scroll-button{
background-color: $color-midTone-light;
width:45px;
height:45px;
border-radius: 50%;
display: flex;
justify-content: center;
 align-items: center;
}
.button-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
