.burguer-opener{
  color: $color-midTone-light;
  background-color: $color-secondary-dark;
  width: 44px;
  height:44px;
  padding: 15px;
  border: none;
  position: absolute;
  top: 0;
  left:0;
}
.burguer-close{
  color: $color-midTone-light;
  background-color: $color-primary;
  width: 44px;
  height:44px;
  padding: 15px;
  border: none;
  }

.scroll-button-up{
  background-color: $color-midTone-light;
  width:45px;
  height:45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 20px;
}
.scroll-button-down{
  background-color: $color-midTone-light;
  width:45px;
  height:45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-consistent {
  background-color: $color-midTone-light;
  width:76px;
  height:45px;
  border-radius: 22.5px;
  border: 2px solid $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px){
    width:  91px;
  }
  @media all and (min-width: 1024px){
    width:  160px;
  }
}

.button-opposite {
  background-color: $color-primary;
  width:184px;
  height:45px;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;

  @media all and (min-width: 768px){
    width: 210px;
  }
  @media all and (min-width: 1024px){
    width: 255px;
  }
}
a{
  text-decoration: none;
}
