.hero {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:  center;
  height:100%;
  padding-top: $size-top-hero;
  padding-bottom: $size-bottom-hero-mobile;
  padding-left: $size-xs;
  padding-right: $size-xs;
  margin:0;

  @media all and (min-width:768px){
    padding-top: $size-top-hero-l;
    padding-bottom: $size-l;
    padding-left: $size-m;
    padding-right: $size-m;
  }
  @media all and (min-width:1024px){
    padding-bottom: $size-bottom-hero-desktop;
    padding-left: $size-xxl;
    padding-right: $size-xxl;
  }

}
